<template>
  <div>
    <v-container>
      <v-layout justify-center>
          <v-text-field
              v-model="search"
              label="What do you search ?"
              required
            ></v-text-field>
            <!-- <v-btn block color="info" round @click="searchAction()">Search</v-btn> -->
        </v-layout>
    </v-container>
    <v-container grid-list-lg>
      <v-layout row wrap>
        <v-flex xs12 v-for="project in results" :key="project.id">
          <v-card>
            <v-card-title primary-title>
              <div>
                <h3 class="headline mb-0">{{ project.title.substring(0, 50) }}</h3>
                <div>{{ project.desc.substring(0, 150) }}...</div>
              </div>
            </v-card-title>

            <v-card-actions>
              <v-btn flat color="blue">Partager</v-btn>
              <v-btn flat color="blue" @click="$router.push({name: 'project_detail', params: {id: project.id} })">Voir le projet</v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
      <v-btn
        fixed
        dark
        fab
        bottom
        right
        color="pink"
      >
        <v-icon>add</v-icon>
      </v-btn>
    </v-container>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import { Watch } from 'vue-property-decorator';
// import HelloWorld from '@/components/HelloWorld.vue'; // @ is an alias to /src

@Component({
  components: {
    
  },
})
export default class Home extends Vue {

  private search: string = '';
  private projects!: any;
  private results!: any;

  created() {
    this.projects = this.$store.state.projects;

    this.results = this.projects;
  }

@Watch('search')
  searchAction() {
    let searchStr = this.search.toLowerCase();

    this.results = this.projects.filter((project: any) => {
      let projectTitle = project.title.toLowerCase();
      if (searchStr == '') {
        return true;
      }
      return projectTitle.indexOf(searchStr) >= 0;
    });
  }

}
</script>
