<template>
  <div>
    <v-container v-if="!project">
      No projects found
    </v-container>
    <div v-else>
      <v-container>
        <h1 class="project-title">{{ project.title }}</h1>
      </v-container>
      <v-btn flat @click="$router.go(-1)">
        <v-icon>arrow_back</v-icon>
        Back
      </v-btn>
      <v-container class="project-content">
        <v-chip >
          <v-avatar>
            <img src="https://randomuser.me/api/portraits/men/35.jpg" alt="trevor">
          </v-avatar>
          Trevor Hansen
        </v-chip>
        <h2>Description</h2>
        <v-layout>{{ project.desc }}</v-layout>
        <v-btn color="info" block>
          Contacter l'auteur
        </v-btn>
      </v-container>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';

@Component
export default class ProjectDetail extends Vue {
  
  private project!: any;
  
  created() {
    this.project = this.$store.state.projects.find((project: any) => {
      return project.id == this.$route.params.id;
    });
  }
}

</script>

<style lang="scss" scoped>
.project {
  &-title {
    text-align: center;
  } 

  &-content {
    background: #FFFFFF;
  }
}
</style>
